html body{
    margin: 0;
    padding: 0;
    background-color: #F69E7B;
}

*{
    font-family: 'Nunito', sans-serif;
}
.title{
    margin: 15px;
}
.block-img{
    max-width: 55vw;
    height: auto;
    margin: 0 auto;
    padding-top:50px
}

@media only screen and (min-width: 992px) {
    .hide{
        display:none;
        color:#383E56;
    }
}

.para{
    padding:30px;
    font-size:20px;
}


@media only screen and (max-width: 768px) {
    .block-img{
        height:250px;
        width:auto;
    }
}

#social-icons a:hover{
    transform: scale(1.5);
    transition: 0.5s;
    color: #383E56;
}

@keyframes para-animation{
    from{top: -30px; opacity: 0;}
    to{top: 0; opacity: 1;}
}

#para-animation{
    animation-name: para-animation;
    animation-duration: 3s;
    color: #383E56;
}

