html body{
    margin: 0;
    padding: 0;
    background-color: #252525;
}

*{
    scroll-behavior: smooth;
    font-family: 'Nunito', sans-serif;
}

.hands{
    margin-top: 300px;
    border-color: #383E56;
}

.nav-item {
    padding-left: 50px;
    padding-right: 50px;
    font-size: 13px;
}
.carousel-item {
    height:450px;
    width: 100%;
}

@media only screen and (max-width: 768px) {
    .carousel-item {
        height:200px;
        width: 100%;
    }

}
#quote{
    padding:10px;
    background: #c5b2b0;
    color: #252525;
    text-align: center;
    font-size: 20px;
}


.desc{
    text-align: justify;
    font-size: 18px;
    color:#252525;
    padding: 20px;
    margin-top:15px;
    font-weight: bolder;
}

#read-more-btn:active{
    transform: scale(0.95);
 }
#read-more-btn:hover{
    color: #fff !important;
    border: 3px solid #383E56 !important;
    background: #383E56!important;
}

 button{
    background-color: transparent !important ;
    border: 3px solid #252525 !important;
    color:#252525 !important;
    font-weight: bolder !important;
    padding: 10px !important;
    width:auto !important;
    outline:none !important;
}

button:focus{
    outline: none !important;
}
.map-integrate{
   height: 170px;
   width: 200px;
}
#sub-email{
    margin-left: 50%;
    transform: translate(-50%);
}
#subscribe{
    margin-top: 10px;
    color: white!important;
    font-weight: 800;
    font-size: 18px;
    background: rgb(112, 204, 89)!important;
    margin-left: 50%;
    transform: translate(-50%);
    border-radius: 7px;
    padding: 7px 20px!important;
}

#social-icons{
    list-style: none;
}

.list-unstyled > li > a{
    color: #fff;
}
.fa{
    color:#383E56;
}
.split-div{
    display: flex;
    margin-left: -50px;
}

